* {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
input[type="checkbox"] {
  display: flex;
  width: 80px;
  height: 80px;
  position: fixed;
  left: 80px;
  top: 80px;
  opacity: 0;
  cursor: pointer;
  z-index: 1000;
}
span.icon {
  display: block;
  background-color: black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: fixed;
  left: 80px;
  top: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  pointer-events: none;
  z-index: 1001;
}
span.icon::before {
  content: "Menu";
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  line-height: 80px;
  font-size: 18px;
  text-transform: uppercase;
}
input[type="checkbox"]:checked ~ span.icon::before {
  content: "Close";
}
ul {
  display: flex;
  width: 300px;
  height: 100vh;
  background-color: green;
  flex-direction: column;
  justify-content: center;
  padding: 40px 30px;
  position: fixed;
  left: -360px;
  top: 0;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
ul li {
  display: block;
}
ul li a {
  display: block;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
  position: relative;
}
ul li a::before {
  display: block;
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100px;
  height: 1px;
  top: 100%;
  left: -360px;
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
}
ul li a:hover::before {
  left: 0;
}
ul li a:hover {
  margin-left: 10px;
}
input[type="checkbox"]:checked ~ ul {
  left: 0;
}
section {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 23px;
}
section#home {
  background-color: crimson;
}
section#developer {
  background-color: rgb(38, 0, 255);
}
section#frontend {
  background-color: rgb(243, 9, 243);
}
section#contact {
  background-color: rgb(203, 206, 39);
}
