@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
        sans-serif;
    background: #444;

}

.team {
    margin: 0 auto;
}

.container {
    width: 85%;
    margin: 50px auto;
    align-items: center;
}

.row {
    width: 100%;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.team .row h1 {
    text-align: center;
    font-size: 45px;

}

.team .row p {
    padding-left: 20px;
    border-left: 4px solid #f00;
}

.row .coluom {
    position: relative;
    margin: 10px;
    width: calc(25% - 20px);
    min-height: 250px;
    background: #fff;
    float: left;
    overflow: hidden;

}



.row .coluom .imagebox {
    position: relative;
}

.row .coluom .imagebox img {
    width: 100%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.row .coluom:hover .imagebox img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.row .coluom .details {
    position: absolute;
    bottom: -100px;
    left: 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    transition: 500ms all;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -ms-transition: 500ms all;
    -o-transition: 500ms all;
    padding-right: 5px;
}

.row .coluom:hover .details {
    bottom: 0;

}

.row .coluom .details h2 {
    margin: 0;
    padding: 0;
    text-align: right;
    padding-top: 5px;
    box-sizing: border-box;
    font-size: 25px;
    text-transform: uppercase;
}

.row .coluom .details span {
    margin: 0;
    padding: 0;
    color: red;
    font-weight: 800;
    font-size: 15px;
    position: relative;
    top: -17px;
}

.row .coluom .details ul {
    margin: 0;
    padding: 0;
    display: flex;
    float: right;

}

.row .coluom .details ul li {
    list-style: none;
    padding-right: 10px;

}

.row .coluom .details ul li .fab {
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}

.row .coluom .details ul li:hover .fab {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    color: #f00;
}

@media(max-width:992px) {
    .container {
        width: 95%;
    }

    .row .coluom {

        margin: 10px;
        width: calc(50% - 20px);
        min-height: 250px;
    }

}

@media(max-width:600px) {
    .row .coluom {

        margin: 10px;
        width: calc(100% - 20px);
        min-height: 250px;
    }


    .team .row p {
        padding: 10px 10px 10px 0;
        padding-left: 20px;
        border-left: 4px solid #f00;
    }
}